<title>Create QRCode</title>
<section>
    <div class="container">
        <div class="main">
            <div class="title">
                <h1>CREATE QR CODE</h1>
            </div>
            <form action="/qrcode" method="post">
                <input type="text" name="url" placeholder="Enter URL">
                <button>Create</button>
            </form>
        </div>
    </div>
    <div class="footer">
        <p>Created by <a href="https://github.com/abijithdel">abijithdel</a></p>
    </div>
</section>