<section>
    <div class="container">
        <div class="main">
            <div class="title">
                <h1>CREATE A QR CODE</h1>
            </div>
            <form action="/qrcode" method="post">
                <input type="text" name="url" placeholder="Enter URL">
                <button>Create</button>
            </form>
        </div>
    </div>
    <div class="footer">
        <p>Footer</p>
    </div>
</section>